@font-face {
    font-family: 'fontello';
    src: url('./fontello.eot');
    src: url('./fontello.eot#iefix') format('embedded-opentype'),
    url('./fontello.woff') format('woff'),
    url('./fontello.woff') format('woff2'),
    url('./fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-emo-happy:before {
    content: '\e800';
}

/* '' */
.icon-emo-wink:before {
    content: '\e801';
}

/* '' */
.icon-emo-unhappy:before {
    content: '\e802';
}

/* '' */
.icon-emo-sleep:before {
    content: '\e803';
}

/* '' */
.icon-emo-thumbsup:before {
    content: '\e804';
}

/* '' */
.icon-emo-devil:before {
    content: '\e805';
}

/* '' */
.icon-emo-surprised:before {
    content: '\e806';
}

/* '' */
.icon-emo-tongue:before {
    content: '\e807';
}

/* '' */
.icon-emo-coffee:before {
    content: '\e808';
}

/* '' */
.icon-emo-sunglasses:before {
    content: '\e809';
}

/* '' */
.icon-emo-displeased:before {
    content: '\e80a';
}

/* '' */
.icon-emo-beer:before {
    content: '\e80b';
}

/* '' */
.icon-emo-grin:before {
    content: '\e80c';
}

/* '' */
.icon-emo-angry:before {
    content: '\e80d';
}

/* '' */
.icon-emo-saint:before {
    content: '\e80e';
}

/* '' */
.icon-emo-cry:before {
    content: '\e80f';
}

/* '' */
.icon-emo-shoot:before {
    content: '\e810';
}

/* '' */
.icon-emo-squint:before {
    content: '\e811';
}

/* '' */
.icon-emo-laugh:before {
    content: '\e812';
}

/* '' */
.icon-emo-wink2:before {
    content: '\e813';
}

/* '' */
.icon-note:before {
    content: '\e814';
}

/* '' */
.icon-note-beamed:before {
    content: '\e815';
}

/* '' */
.icon-music:before {
    content: '\e816';
}

/* '' */
.icon-search:before {
    content: '\e817';
}

/* '' */
.icon-flashlight:before {
    content: '\e818';
}

/* '' */
.icon-mail:before {
    content: '\e819';
}

/* '' */
.icon-heart:before {
    content: '\e81a';
}

/* '' */
.icon-heart-empty:before {
    content: '\e81b';
}

/* '' */
.icon-star:before {
    content: '\e81c';
}

/* '' */
.icon-star-empty:before {
    content: '\e81d';
}

/* '' */
.icon-user:before {
    content: '\e81e';
}

/* '' */
.icon-users:before {
    content: '\e81f';
}

/* '' */
.icon-user-add:before {
    content: '\e820';
}

/* '' */
.icon-video:before {
    content: '\e821';
}

/* '' */
.icon-picture:before {
    content: '\e822';
}

/* '' */
.icon-camera:before {
    content: '\e823';
}

/* '' */
.icon-layout:before {
    content: '\e824';
}

/* '' */
.icon-menu:before {
    content: '\e825';
}

/* '' */
.icon-check:before {
    content: '\e826';
}

/* '' */
.icon-cancel:before {
    content: '\e827';
}

/* '' */
.icon-cancel-circled:before {
    content: '\e828';
}

/* '' */
.icon-cancel-squared:before {
    content: '\e829';
}

/* '' */
.icon-plus:before {
    content: '\e82a';
}

/* '' */
.icon-plus-circled:before {
    content: '\e82b';
}

/* '' */
.icon-plus-squared:before {
    content: '\e82c';
}

/* '' */
.icon-minus:before {
    content: '\e82d';
}

/* '' */
.icon-minus-circled:before {
    content: '\e82e';
}

/* '' */
.icon-minus-squared:before {
    content: '\e82f';
}

/* '' */
.icon-spin1:before {
    content: '\e830';
}

/* '' */
.icon-spin2:before {
    content: '\e831';
}

/* '' */
.icon-spin3:before {
    content: '\e832';
}

/* '' */
.icon-help:before {
    content: '\e833';
}

/* '' */
.icon-spin4:before {
    content: '\e834';
}

/* '' */
.icon-help-circled:before {
    content: '\e835';
}

/* '' */
.icon-info:before {
    content: '\e836';
}

/* '' */
.icon-info-circled:before {
    content: '\e837';
}

/* '' */
.icon-spin5:before {
    content: '\e838';
}

/* '' */
.icon-spin6:before {
    content: '\e839';
}

/* '' */
.icon-back:before {
    content: '\e83a';
}

/* '' */
.icon-home:before {
    content: '\e83b';
}

/* '' */
.icon-link:before {
    content: '\e83c';
}

/* '' */
.icon-attach:before {
    content: '\e83d';
}

/* '' */
.icon-lock:before {
    content: '\e83e';
}

/* '' */
.icon-lock-open:before {
    content: '\e83f';
}

/* '' */
.icon-firefox:before {
    content: '\e840';
}

/* '' */
.icon-chrome:before {
    content: '\e841';
}

/* '' */
.icon-opera:before {
    content: '\e842';
}

/* '' */
.icon-ie:before {
    content: '\e843';
}

/* '' */
.icon-crown:before {
    content: '\e844';
}

/* '' */
.icon-crown-plus:before {
    content: '\e845';
}

/* '' */
.icon-crown-minus:before {
    content: '\e846';
}

/* '' */
.icon-marquee:before {
    content: '\e847';
}

/* '' */
.icon-eye:before {
    content: '\e848';
}

/* '' */
.icon-tag:before {
    content: '\e849';
}

/* '' */
.icon-bookmark:before {
    content: '\e84a';
}

/* '' */
.icon-bookmarks:before {
    content: '\e84b';
}

/* '' */
.icon-flag:before {
    content: '\e84c';
}

/* '' */
.icon-thumbs-up:before {
    content: '\e84d';
}

/* '' */
.icon-thumbs-down:before {
    content: '\e84e';
}

/* '' */
.icon-download:before {
    content: '\e84f';
}

/* '' */
.icon-upload:before {
    content: '\e850';
}

/* '' */
.icon-upload-cloud:before {
    content: '\e851';
}

/* '' */
.icon-reply:before {
    content: '\e852';
}

/* '' */
.icon-reply-all:before {
    content: '\e853';
}

/* '' */
.icon-forward:before {
    content: '\e854';
}

/* '' */
.icon-quote:before {
    content: '\e855';
}

/* '' */
.icon-code:before {
    content: '\e856';
}

/* '' */
.icon-export:before {
    content: '\e857';
}

/* '' */
.icon-pencil:before {
    content: '\e858';
}

/* '' */
.icon-feather:before {
    content: '\e859';
}

/* '' */
.icon-print:before {
    content: '\e85a';
}

/* '' */
.icon-retweet:before {
    content: '\e85b';
}

/* '' */
.icon-keyboard:before {
    content: '\e85c';
}

/* '' */
.icon-comment:before {
    content: '\e85d';
}

/* '' */
.icon-chat:before {
    content: '\e85e';
}

/* '' */
.icon-bell:before {
    content: '\e85f';
}

/* '' */
.icon-attention:before {
    content: '\e860';
}

/* '' */
.icon-alert:before {
    content: '\e861';
}

/* '' */
.icon-vcard:before {
    content: '\e862';
}

/* '' */
.icon-address:before {
    content: '\e863';
}

/* '' */
.icon-location:before {
    content: '\e864';
}

/* '' */
.icon-map:before {
    content: '\e865';
}

/* '' */
.icon-direction:before {
    content: '\e866';
}

/* '' */
.icon-compass:before {
    content: '\e867';
}

/* '' */
.icon-cup:before {
    content: '\e868';
}

/* '' */
.icon-trash:before {
    content: '\e869';
}

/* '' */
.icon-doc:before {
    content: '\e86a';
}

/* '' */
.icon-docs:before {
    content: '\e86b';
}

/* '' */
.icon-doc-landscape:before {
    content: '\e86c';
}

/* '' */
.icon-doc-text:before {
    content: '\e86d';
}

/* '' */
.icon-doc-text-inv:before {
    content: '\e86e';
}

/* '' */
.icon-newspaper:before {
    content: '\e86f';
}

/* '' */
.icon-book-open:before {
    content: '\e870';
}

/* '' */
.icon-book:before {
    content: '\e871';
}

/* '' */
.icon-folder:before {
    content: '\e872';
}

/* '' */
.icon-archive:before {
    content: '\e873';
}

/* '' */
.icon-box:before {
    content: '\e874';
}

/* '' */
.icon-rss:before {
    content: '\e875';
}

/* '' */
.icon-phone:before {
    content: '\e876';
}

/* '' */
.icon-cog:before {
    content: '\e877';
}

/* '' */
.icon-tools:before {
    content: '\e878';
}

/* '' */
.icon-share:before {
    content: '\e879';
}

/* '' */
.icon-shareable:before {
    content: '\e87a';
}

/* '' */
.icon-basket:before {
    content: '\e87b';
}

/* '' */
.icon-bag:before {
    content: '\e87c';
}

/* '' */
.icon-calendar:before {
    content: '\e87d';
}

/* '' */
.icon-login:before {
    content: '\e87e';
}

/* '' */
.icon-logout:before {
    content: '\e87f';
}

/* '' */
.icon-mic:before {
    content: '\e880';
}

/* '' */
.icon-mute:before {
    content: '\e881';
}

/* '' */
.icon-sound:before {
    content: '\e882';
}

/* '' */
.icon-volume:before {
    content: '\e883';
}

/* '' */
.icon-clock:before {
    content: '\e884';
}

/* '' */
.icon-hourglass:before {
    content: '\e885';
}

/* '' */
.icon-lamp:before {
    content: '\e886';
}

/* '' */
.icon-light-down:before {
    content: '\e887';
}

/* '' */
.icon-light-up:before {
    content: '\e888';
}

/* '' */
.icon-adjust:before {
    content: '\e889';
}

/* '' */
.icon-block:before {
    content: '\e88a';
}

/* '' */
.icon-resize-full:before {
    content: '\e88b';
}

/* '' */
.icon-resize-small:before {
    content: '\e88c';
}

/* '' */
.icon-popup:before {
    content: '\e88d';
}

/* '' */
.icon-publish:before {
    content: '\e88e';
}

/* '' */
.icon-window:before {
    content: '\e88f';
}

/* '' */
.icon-arrow-combo:before {
    content: '\e890';
}

/* '' */
.icon-down-circled:before {
    content: '\e891';
}

/* '' */
.icon-left-circled:before {
    content: '\e892';
}

/* '' */
.icon-right-circled:before {
    content: '\e893';
}

/* '' */
.icon-up-circled:before {
    content: '\e894';
}

/* '' */
.icon-down-open:before {
    content: '\e895';
}

/* '' */
.icon-left-open:before {
    content: '\e896';
}

/* '' */
.icon-right-open:before {
    content: '\e897';
}

/* '' */
.icon-up-open:before {
    content: '\e898';
}

/* '' */
.icon-down-open-mini:before {
    content: '\e899';
}

/* '' */
.icon-left-open-mini:before {
    content: '\e89a';
}

/* '' */
.icon-right-open-mini:before {
    content: '\e89b';
}

/* '' */
.icon-up-open-mini:before {
    content: '\e89c';
}

/* '' */
.icon-down-open-big:before {
    content: '\e89d';
}

/* '' */
.icon-left-open-big:before {
    content: '\e89e';
}

/* '' */
.icon-right-open-big:before {
    content: '\e89f';
}

/* '' */
.icon-up-open-big:before {
    content: '\e8a0';
}

/* '' */
.icon-down:before {
    content: '\e8a1';
}

/* '' */
.icon-left:before {
    content: '\e8a2';
}

/* '' */
.icon-right:before {
    content: '\e8a3';
}

/* '' */
.icon-up:before {
    content: '\e8a4';
}

/* '' */
.icon-down-dir:before {
    content: '\e8a5';
}

/* '' */
.icon-left-dir:before {
    content: '\e8a6';
}

/* '' */
.icon-right-dir:before {
    content: '\e8a7';
}

/* '' */
.icon-up-dir:before {
    content: '\e8a8';
}

/* '' */
.icon-down-bold:before {
    content: '\e8a9';
}

/* '' */
.icon-left-bold:before {
    content: '\e8aa';
}

/* '' */
.icon-right-bold:before {
    content: '\e8ab';
}

/* '' */
.icon-up-bold:before {
    content: '\e8ac';
}

/* '' */
.icon-down-thin:before {
    content: '\e8ad';
}

/* '' */
.icon-left-thin:before {
    content: '\e8ae';
}

/* '' */
.icon-right-thin:before {
    content: '\e8af';
}

/* '' */
.icon-up-thin:before {
    content: '\e8b0';
}

/* '' */
.icon-ccw:before {
    content: '\e8b1';
}

/* '' */
.icon-cw:before {
    content: '\e8b2';
}

/* '' */
.icon-arrows-ccw:before {
    content: '\e8b3';
}

/* '' */
.icon-level-down:before {
    content: '\e8b4';
}

/* '' */
.icon-level-up:before {
    content: '\e8b5';
}

/* '' */
.icon-shuffle:before {
    content: '\e8b6';
}

/* '' */
.icon-loop:before {
    content: '\e8b7';
}

/* '' */
.icon-switch:before {
    content: '\e8b8';
}

/* '' */
.icon-play:before {
    content: '\e8b9';
}

/* '' */
.icon-stop:before {
    content: '\e8ba';
}

/* '' */
.icon-pause:before {
    content: '\e8bb';
}

/* '' */
.icon-record:before {
    content: '\e8bc';
}

/* '' */
.icon-to-end:before {
    content: '\e8bd';
}

/* '' */
.icon-to-start:before {
    content: '\e8be';
}

/* '' */
.icon-fast-forward:before {
    content: '\e8bf';
}

/* '' */
.icon-fast-backward:before {
    content: '\e8c0';
}

/* '' */
.icon-progress-0:before {
    content: '\e8c1';
}

/* '' */
.icon-progress-1:before {
    content: '\e8c2';
}

/* '' */
.icon-progress-2:before {
    content: '\e8c3';
}

/* '' */
.icon-progress-3:before {
    content: '\e8c4';
}

/* '' */
.icon-target:before {
    content: '\e8c5';
}

/* '' */
.icon-palette:before {
    content: '\e8c6';
}

/* '' */
.icon-list:before {
    content: '\e8c7';
}

/* '' */
.icon-list-add:before {
    content: '\e8c8';
}

/* '' */
.icon-signal:before {
    content: '\e8c9';
}

/* '' */
.icon-trophy:before {
    content: '\e8ca';
}

/* '' */
.icon-battery:before {
    content: '\e8cb';
}

/* '' */
.icon-back-in-time:before {
    content: '\e8cc';
}

/* '' */
.icon-monitor:before {
    content: '\e8cd';
}

/* '' */
.icon-mobile:before {
    content: '\e8ce';
}

/* '' */
.icon-network:before {
    content: '\e8cf';
}

/* '' */
.icon-cd:before {
    content: '\e8d0';
}

/* '' */
.icon-inbox:before {
    content: '\e8d1';
}

/* '' */
.icon-install:before {
    content: '\e8d2';
}

/* '' */
.icon-globe:before {
    content: '\e8d3';
}

/* '' */
.icon-cloud:before {
    content: '\e8d4';
}

/* '' */
.icon-cloud-thunder:before {
    content: '\e8d5';
}

/* '' */
.icon-flash:before {
    content: '\e8d6';
}

/* '' */
.icon-moon:before {
    content: '\e8d7';
}

/* '' */
.icon-flight:before {
    content: '\e8d8';
}

/* '' */
.icon-paper-plane:before {
    content: '\e8d9';
}

/* '' */
.icon-leaf:before {
    content: '\e8da';
}

/* '' */
.icon-lifebuoy:before {
    content: '\e8db';
}

/* '' */
.icon-mouse:before {
    content: '\e8dc';
}

/* '' */
.icon-briefcase:before {
    content: '\e8dd';
}

/* '' */
.icon-suitcase:before {
    content: '\e8de';
}

/* '' */
.icon-dot:before {
    content: '\e8df';
}

/* '' */
.icon-dot-2:before {
    content: '\e8e0';
}

/* '' */
.icon-dot-3:before {
    content: '\e8e1';
}

/* '' */
.icon-brush:before {
    content: '\e8e2';
}

/* '' */
.icon-magnet:before {
    content: '\e8e3';
}

/* '' */
.icon-infinity:before {
    content: '\e8e4';
}

/* '' */
.icon-erase:before {
    content: '\e8e5';
}

/* '' */
.icon-chart-pie:before {
    content: '\e8e6';
}

/* '' */
.icon-chart-line:before {
    content: '\e8e7';
}

/* '' */
.icon-chart-bar:before {
    content: '\e8e8';
}

/* '' */
.icon-chart-area:before {
    content: '\e8e9';
}

/* '' */
.icon-tape:before {
    content: '\e8ea';
}

/* '' */
.icon-graduation-cap:before {
    content: '\e8eb';
}

/* '' */
.icon-language:before {
    content: '\e8ec';
}

/* '' */
.icon-ticket:before {
    content: '\e8ed';
}

/* '' */
.icon-water:before {
    content: '\e8ee';
}

/* '' */
.icon-droplet:before {
    content: '\e8ef';
}

/* '' */
.icon-air:before {
    content: '\e8f0';
}

/* '' */
.icon-credit-card:before {
    content: '\e8f1';
}

/* '' */
.icon-floppy:before {
    content: '\e8f2';
}

/* '' */
.icon-clipboard:before {
    content: '\e8f3';
}

/* '' */
.icon-megaphone:before {
    content: '\e8f4';
}

/* '' */
.icon-database:before {
    content: '\e8f5';
}

/* '' */
.icon-drive:before {
    content: '\e8f6';
}

/* '' */
.icon-bucket:before {
    content: '\e8f7';
}

/* '' */
.icon-thermometer:before {
    content: '\e8f8';
}

/* '' */
.icon-key:before {
    content: '\e8f9';
}

/* '' */
.icon-flow-cascade:before {
    content: '\e8fa';
}

/* '' */
.icon-flow-branch:before {
    content: '\e8fb';
}

/* '' */
.icon-flow-tree:before {
    content: '\e8fc';
}

/* '' */
.icon-flow-line:before {
    content: '\e8fd';
}

/* '' */
.icon-flow-parallel:before {
    content: '\e8fe';
}

/* '' */
.icon-rocket:before {
    content: '\e8ff';
}

/* '' */
.icon-gauge:before {
    content: '\e900';
}

/* '' */
.icon-traffic-cone:before {
    content: '\e901';
}

/* '' */
.icon-cc:before {
    content: '\e902';
}

/* '' */
.icon-cc-by:before {
    content: '\e903';
}

/* '' */
.icon-cc-nc:before {
    content: '\e904';
}

/* '' */
.icon-cc-nc-eu:before {
    content: '\e905';
}

/* '' */
.icon-cc-nc-jp:before {
    content: '\e906';
}

/* '' */
.icon-cc-sa:before {
    content: '\e907';
}

/* '' */
.icon-cc-nd:before {
    content: '\e908';
}

/* '' */
.icon-cc-pd:before {
    content: '\e909';
}

/* '' */
.icon-cc-zero:before {
    content: '\e90a';
}

/* '' */
.icon-cc-share:before {
    content: '\e90b';
}

/* '' */
.icon-cc-remix:before {
    content: '\e90c';
}

/* '' */
.icon-music-outline:before {
    content: '\e90d';
}

/* '' */
.icon-music-1:before {
    content: '\e90e';
}

/* '' */
.icon-search-outline:before {
    content: '\e90f';
}

/* '' */
.icon-search-1:before {
    content: '\e910';
}

/* '' */
.icon-mail-1:before {
    content: '\e911';
}

/* '' */
.icon-heart-1:before {
    content: '\e912';
}

/* '' */
.icon-heart-filled:before {
    content: '\e913';
}

/* '' */
.icon-star-1:before {
    content: '\e914';
}

/* '' */
.icon-star-filled:before {
    content: '\e915';
}

/* '' */
.icon-user-outline:before {
    content: '\e916';
}

/* '' */
.icon-user-1:before {
    content: '\e917';
}

/* '' */
.icon-users-outline:before {
    content: '\e918';
}

/* '' */
.icon-users-1:before {
    content: '\e919';
}

/* '' */
.icon-user-add-outline:before {
    content: '\e91a';
}

/* '' */
.icon-user-add-1:before {
    content: '\e91b';
}

/* '' */
.icon-user-delete-outline:before {
    content: '\e91c';
}

/* '' */
.icon-user-delete:before {
    content: '\e91d';
}

/* '' */
.icon-video-1:before {
    content: '\e91e';
}

/* '' */
.icon-videocam-outline:before {
    content: '\e91f';
}

/* '' */
.icon-videocam:before {
    content: '\e920';
}

/* '' */
.icon-picture-outline:before {
    content: '\e921';
}

/* '' */
.icon-picture-1:before {
    content: '\e922';
}

/* '' */
.icon-camera-outline:before {
    content: '\e923';
}

/* '' */
.icon-camera-1:before {
    content: '\e924';
}

/* '' */
.icon-th-outline:before {
    content: '\e925';
}

/* '' */
.icon-th:before {
    content: '\e926';
}

/* '' */
.icon-th-large-outline:before {
    content: '\e927';
}

/* '' */
.icon-th-large:before {
    content: '\e928';
}

/* '' */
.icon-th-list-outline:before {
    content: '\e929';
}

/* '' */
.icon-th-list:before {
    content: '\e92a';
}

/* '' */
.icon-ok-outline:before {
    content: '\e92b';
}

/* '' */
.icon-ok:before {
    content: '\e92c';
}

/* '' */
.icon-cancel-outline:before {
    content: '\e92d';
}

/* '' */
.icon-cancel-1:before {
    content: '\e92e';
}

/* '' */
.icon-cancel-alt:before {
    content: '\e92f';
}

/* '' */
.icon-cancel-alt-filled:before {
    content: '\e930';
}

/* '' */
.icon-cancel-circled-outline:before {
    content: '\e931';
}

/* '' */
.icon-cancel-circled-1:before {
    content: '\e932';
}

/* '' */
.icon-plus-outline:before {
    content: '\e933';
}

/* '' */
.icon-plus-1:before {
    content: '\e934';
}

/* '' */
.icon-minus-outline:before {
    content: '\e935';
}

/* '' */
.icon-minus-1:before {
    content: '\e936';
}

/* '' */
.icon-divide-outline:before {
    content: '\e937';
}

/* '' */
.icon-divide:before {
    content: '\e938';
}

/* '' */
.icon-eq-outline:before {
    content: '\e939';
}

/* '' */
.icon-eq:before {
    content: '\e93a';
}

/* '' */
.icon-info-outline:before {
    content: '\e93b';
}

/* '' */
.icon-info-1:before {
    content: '\e93c';
}

/* '' */
.icon-home-outline:before {
    content: '\e93d';
}

/* '' */
.icon-home-1:before {
    content: '\e93e';
}

/* '' */
.icon-link-outline:before {
    content: '\e93f';
}

/* '' */
.icon-link-1:before {
    content: '\e940';
}

/* '' */
.icon-attach-outline:before {
    content: '\e941';
}

/* '' */
.icon-attach-1:before {
    content: '\e942';
}

/* '' */
.icon-lock-1:before {
    content: '\e943';
}

/* '' */
.icon-lock-filled:before {
    content: '\e944';
}

/* '' */
.icon-lock-open-1:before {
    content: '\e945';
}

/* '' */
.icon-lock-open-filled:before {
    content: '\e946';
}

/* '' */
.icon-pin-outline:before {
    content: '\e947';
}

/* '' */
.icon-pin:before {
    content: '\e948';
}

/* '' */
.icon-eye-outline:before {
    content: '\e949';
}

/* '' */
.icon-eye-1:before {
    content: '\e94a';
}

/* '' */
.icon-tag-1:before {
    content: '\e94b';
}

/* '' */
.icon-tags:before {
    content: '\e94c';
}

/* '' */
.icon-bookmark-1:before {
    content: '\e94d';
}

/* '' */
.icon-flag-1:before {
    content: '\e94e';
}

/* '' */
.icon-flag-filled:before {
    content: '\e94f';
}

/* '' */
.icon-thumbs-up-1:before {
    content: '\e950';
}

/* '' */
.icon-thumbs-down-1:before {
    content: '\e951';
}

/* '' */
.icon-download-outline:before {
    content: '\e952';
}

/* '' */
.icon-download-1:before {
    content: '\e953';
}

/* '' */
.icon-upload-outline:before {
    content: '\e954';
}

/* '' */
.icon-upload-1:before {
    content: '\e955';
}

/* '' */
.icon-upload-cloud-outline:before {
    content: '\e956';
}

/* '' */
.icon-upload-cloud-1:before {
    content: '\e957';
}

/* '' */
.icon-reply-outline:before {
    content: '\e958';
}

/* '' */
.icon-reply-1:before {
    content: '\e959';
}

/* '' */
.icon-forward-outline:before {
    content: '\e95a';
}

/* '' */
.icon-forward-1:before {
    content: '\e95b';
}

/* '' */
.icon-code-outline:before {
    content: '\e95c';
}

/* '' */
.icon-code-1:before {
    content: '\e95d';
}

/* '' */
.icon-export-outline:before {
    content: '\e95e';
}

/* '' */
.icon-export-1:before {
    content: '\e95f';
}

/* '' */
.icon-pencil-1:before {
    content: '\e960';
}

/* '' */
.icon-pen:before {
    content: '\e961';
}

/* '' */
.icon-feather-1:before {
    content: '\e962';
}

/* '' */
.icon-edit:before {
    content: '\e963';
}

/* '' */
.icon-print-1:before {
    content: '\e964';
}

/* '' */
.icon-comment-1:before {
    content: '\e965';
}

/* '' */
.icon-chat-1:before {
    content: '\e966';
}

/* '' */
.icon-chat-alt:before {
    content: '\e967';
}

/* '' */
.icon-bell-1:before {
    content: '\e968';
}

/* '' */
.icon-attention-1:before {
    content: '\e969';
}

/* '' */
.icon-attention-filled:before {
    content: '\e96a';
}

/* '' */
.icon-warning-empty:before {
    content: '\e96b';
}

/* '' */
.icon-warning:before {
    content: '\e96c';
}

/* '' */
.icon-contacts:before {
    content: '\e96d';
}

/* '' */
.icon-vcard-1:before {
    content: '\e96e';
}

/* '' */
.icon-address-1:before {
    content: '\e96f';
}

/* '' */
.icon-location-outline:before {
    content: '\e970';
}

/* '' */
.icon-location-1:before {
    content: '\e971';
}

/* '' */
.icon-map-1:before {
    content: '\e972';
}

/* '' */
.icon-direction-outline:before {
    content: '\e973';
}

/* '' */
.icon-direction-1:before {
    content: '\e974';
}

/* '' */
.icon-compass-1:before {
    content: '\e975';
}

/* '' */
.icon-trash-1:before {
    content: '\e976';
}

/* '' */
.icon-doc-1:before {
    content: '\e977';
}

/* '' */
.icon-doc-text-1:before {
    content: '\e978';
}

/* '' */
.icon-doc-add:before {
    content: '\e979';
}

/* '' */
.icon-doc-remove:before {
    content: '\e97a';
}

/* '' */
.icon-news:before {
    content: '\e97b';
}

/* '' */
.icon-folder-1:before {
    content: '\e97c';
}

/* '' */
.icon-folder-add:before {
    content: '\e97d';
}

/* '' */
.icon-folder-delete:before {
    content: '\e97e';
}

/* '' */
.icon-archive-1:before {
    content: '\e97f';
}

/* '' */
.icon-box-1:before {
    content: '\e980';
}

/* '' */
.icon-rss-outline:before {
    content: '\e981';
}

/* '' */
.icon-rss-1:before {
    content: '\e982';
}

/* '' */
.icon-phone-outline:before {
    content: '\e983';
}

/* '' */
.icon-phone-1:before {
    content: '\e984';
}

/* '' */
.icon-menu-outline:before {
    content: '\e985';
}

/* '' */
.icon-menu-1:before {
    content: '\e986';
}

/* '' */
.icon-cog-outline:before {
    content: '\e987';
}

/* '' */
.icon-cog-1:before {
    content: '\e988';
}

/* '' */
.icon-wrench-outline:before {
    content: '\e989';
}

/* '' */
.icon-wrench:before {
    content: '\e98a';
}

/* '' */
.icon-basket-1:before {
    content: '\e98b';
}

/* '' */
.icon-calendar-outlilne:before {
    content: '\e98c';
}

/* '' */
.icon-calendar-1:before {
    content: '\e98d';
}

/* '' */
.icon-mic-outline:before {
    content: '\e98e';
}

/* '' */
.icon-mic-1:before {
    content: '\e98f';
}

/* '' */
.icon-volume-off:before {
    content: '\e990';
}

/* '' */
.icon-volume-low:before {
    content: '\e991';
}

/* '' */
.icon-volume-middle:before {
    content: '\e992';
}

/* '' */
.icon-volume-high:before {
    content: '\e993';
}

/* '' */
.icon-headphones:before {
    content: '\e994';
}

/* '' */
.icon-clock-1:before {
    content: '\e995';
}

/* '' */
.icon-wristwatch:before {
    content: '\e996';
}

/* '' */
.icon-stopwatch:before {
    content: '\e997';
}

/* '' */
.icon-lightbulb:before {
    content: '\e998';
}

/* '' */
.icon-block-outline:before {
    content: '\e999';
}

/* '' */
.icon-block-1:before {
    content: '\e99a';
}

/* '' */
.icon-resize-full-outline:before {
    content: '\e99b';
}

/* '' */
.icon-resize-full-1:before {
    content: '\e99c';
}

/* '' */
.icon-resize-normal-outline:before {
    content: '\e99d';
}

/* '' */
.icon-resize-normal:before {
    content: '\e99e';
}

/* '' */
.icon-move-outline:before {
    content: '\e99f';
}

/* '' */
.icon-move:before {
    content: '\e9a0';
}

/* '' */
.icon-popup-1:before {
    content: '\e9a1';
}

/* '' */
.icon-zoom-in-outline:before {
    content: '\e9a2';
}

/* '' */
.icon-zoom-in:before {
    content: '\e9a3';
}

/* '' */
.icon-zoom-out-outline:before {
    content: '\e9a4';
}

/* '' */
.icon-zoom-out:before {
    content: '\e9a5';
}

/* '' */
.icon-popup-2:before {
    content: '\e9a6';
}

/* '' */
.icon-left-open-outline:before {
    content: '\e9a7';
}

/* '' */
.icon-left-open-1:before {
    content: '\e9a8';
}

/* '' */
.icon-right-open-outline:before {
    content: '\e9a9';
}

/* '' */
.icon-right-open-1:before {
    content: '\e9aa';
}

/* '' */
.icon-down-1:before {
    content: '\e9ab';
}

/* '' */
.icon-left-1:before {
    content: '\e9ac';
}

/* '' */
.icon-right-1:before {
    content: '\e9ad';
}

/* '' */
.icon-up-1:before {
    content: '\e9ae';
}

/* '' */
.icon-down-outline:before {
    content: '\e9af';
}

/* '' */
.icon-left-outline:before {
    content: '\e9b0';
}

/* '' */
.icon-right-outline:before {
    content: '\e9b1';
}

/* '' */
.icon-up-outline:before {
    content: '\e9b2';
}

/* '' */
.icon-down-small:before {
    content: '\e9b3';
}

/* '' */
.icon-left-small:before {
    content: '\e9b4';
}

/* '' */
.icon-right-small:before {
    content: '\e9b5';
}

/* '' */
.icon-up-small:before {
    content: '\e9b6';
}

/* '' */
.icon-cw-outline:before {
    content: '\e9b7';
}

/* '' */
.icon-cw-1:before {
    content: '\e9b8';
}

/* '' */
.icon-arrows-cw-outline:before {
    content: '\e9b9';
}

/* '' */
.icon-arrows-cw:before {
    content: '\e9ba';
}

/* '' */
.icon-loop-outline:before {
    content: '\e9bb';
}

/* '' */
.icon-loop-1:before {
    content: '\e9bc';
}

/* '' */
.icon-loop-alt-outline:before {
    content: '\e9bd';
}

/* '' */
.icon-loop-alt:before {
    content: '\e9be';
}

/* '' */
.icon-shuffle-1:before {
    content: '\e9bf';
}

/* '' */
.icon-play-outline:before {
    content: '\e9c0';
}

/* '' */
.icon-play-1:before {
    content: '\e9c1';
}

/* '' */
.icon-stop-outline:before {
    content: '\e9c2';
}

/* '' */
.icon-stop-1:before {
    content: '\e9c3';
}

/* '' */
.icon-pause-outline:before {
    content: '\e9c4';
}

/* '' */
.icon-pause-1:before {
    content: '\e9c5';
}

/* '' */
.icon-fast-fw-outline:before {
    content: '\e9c6';
}

/* '' */
.icon-fast-fw:before {
    content: '\e9c7';
}

/* '' */
.icon-rewind-outline:before {
    content: '\e9c8';
}

/* '' */
.icon-rewind:before {
    content: '\e9c9';
}

/* '' */
.icon-record-outline:before {
    content: '\e9ca';
}

/* '' */
.icon-record-1:before {
    content: '\e9cb';
}

/* '' */
.icon-eject-outline:before {
    content: '\e9cc';
}

/* '' */
.icon-eject:before {
    content: '\e9cd';
}

/* '' */
.icon-eject-alt-outline:before {
    content: '\e9ce';
}

/* '' */
.icon-eject-alt:before {
    content: '\e9cf';
}

/* '' */
.icon-bat1:before {
    content: '\e9d0';
}

/* '' */
.icon-bat2:before {
    content: '\e9d1';
}

/* '' */
.icon-bat3:before {
    content: '\e9d2';
}

/* '' */
.icon-bat4:before {
    content: '\e9d3';
}

/* '' */
.icon-bat-charge:before {
    content: '\e9d4';
}

/* '' */
.icon-plug:before {
    content: '\e9d5';
}

/* '' */
.icon-target-outline:before {
    content: '\e9d6';
}

/* '' */
.icon-target-1:before {
    content: '\e9d7';
}

/* '' */
.icon-wifi-outline:before {
    content: '\e9d8';
}

/* '' */
.icon-wifi:before {
    content: '\e9d9';
}

/* '' */
.icon-desktop:before {
    content: '\e9da';
}

/* '' */
.icon-laptop:before {
    content: '\e9db';
}

/* '' */
.icon-tablet:before {
    content: '\e9dc';
}

/* '' */
.icon-mobile-1:before {
    content: '\e9dd';
}

/* '' */
.icon-contrast:before {
    content: '\e9de';
}

/* '' */
.icon-globe-outline:before {
    content: '\e9df';
}

/* '' */
.icon-globe-1:before {
    content: '\e9e0';
}

/* '' */
.icon-globe-alt-outline:before {
    content: '\e9e1';
}

/* '' */
.icon-globe-alt:before {
    content: '\e9e2';
}

/* '' */
.icon-sun:before {
    content: '\e9e3';
}

/* '' */
.icon-sun-filled:before {
    content: '\e9e4';
}

/* '' */
.icon-cloud-1:before {
    content: '\e9e5';
}

/* '' */
.icon-flash-outline:before {
    content: '\e9e6';
}

/* '' */
.icon-flash-1:before {
    content: '\e9e7';
}

/* '' */
.icon-moon-1:before {
    content: '\e9e8';
}

/* '' */
.icon-waves-outline:before {
    content: '\e9e9';
}

/* '' */
.icon-waves:before {
    content: '\e9ea';
}

/* '' */
.icon-rain:before {
    content: '\e9eb';
}

/* '' */
.icon-cloud-sun:before {
    content: '\e9ec';
}

/* '' */
.icon-drizzle:before {
    content: '\e9ed';
}

/* '' */
.icon-snow:before {
    content: '\e9ee';
}

/* '' */
.icon-cloud-flash:before {
    content: '\e9ef';
}

/* '' */
.icon-cloud-wind:before {
    content: '\e9f0';
}

/* '' */
.icon-wind:before {
    content: '\e9f1';
}

/* '' */
.icon-plane-outline:before {
    content: '\e9f2';
}

/* '' */
.icon-plane:before {
    content: '\e9f3';
}

/* '' */
.icon-leaf-1:before {
    content: '\e9f4';
}

/* '' */
.icon-lifebuoy-1:before {
    content: '\e9f5';
}

/* '' */
.icon-briefcase-1:before {
    content: '\e9f6';
}

/* '' */
.icon-brush-1:before {
    content: '\e9f7';
}

/* '' */
.icon-pipette:before {
    content: '\e9f8';
}

/* '' */
.icon-power-outline:before {
    content: '\e9f9';
}

/* '' */
.icon-power:before {
    content: '\e9fa';
}

/* '' */
.icon-check-outline:before {
    content: '\e9fb';
}

/* '' */
.icon-check-1:before {
    content: '\e9fc';
}

/* '' */
.icon-gift:before {
    content: '\e9fd';
}

/* '' */
.icon-temperatire:before {
    content: '\e9fe';
}

/* '' */
.icon-chart-outline:before {
    content: '\e9ff';
}

/* '' */
.icon-chart:before {
    content: '\ea00';
}

/* '' */
.icon-chart-alt-outline:before {
    content: '\ea01';
}

/* '' */
.icon-chart-alt:before {
    content: '\ea02';
}

/* '' */
.icon-chart-bar-outline:before {
    content: '\ea03';
}

/* '' */
.icon-chart-bar-1:before {
    content: '\ea04';
}

/* '' */
.icon-chart-pie-outline:before {
    content: '\ea05';
}

/* '' */
.icon-chart-pie-1:before {
    content: '\ea06';
}

/* '' */
.icon-ticket-1:before {
    content: '\ea07';
}

/* '' */
.icon-credit-card-1:before {
    content: '\ea08';
}

/* '' */
.icon-clipboard-1:before {
    content: '\ea09';
}

/* '' */
.icon-database-1:before {
    content: '\ea0a';
}

/* '' */
.icon-key-outline:before {
    content: '\ea0b';
}

/* '' */
.icon-key-1:before {
    content: '\ea0c';
}

/* '' */
.icon-flow-split:before {
    content: '\ea0d';
}

/* '' */
.icon-flow-merge:before {
    content: '\ea0e';
}

/* '' */
.icon-flow-parallel-1:before {
    content: '\ea0f';
}

/* '' */
.icon-flow-cross:before {
    content: '\ea10';
}

/* '' */
.icon-certificate-outline:before {
    content: '\ea11';
}

/* '' */
.icon-certificate:before {
    content: '\ea12';
}

/* '' */
.icon-scissors-outline:before {
    content: '\ea13';
}

/* '' */
.icon-scissors:before {
    content: '\ea14';
}

/* '' */
.icon-flask:before {
    content: '\ea15';
}

/* '' */
.icon-wine:before {
    content: '\ea16';
}

/* '' */
.icon-coffee:before {
    content: '\ea17';
}

/* '' */
.icon-beer:before {
    content: '\ea18';
}

/* '' */
.icon-anchor-outline:before {
    content: '\ea19';
}

/* '' */
.icon-anchor:before {
    content: '\ea1a';
}

/* '' */
.icon-puzzle-outline:before {
    content: '\ea1b';
}

/* '' */
.icon-puzzle:before {
    content: '\ea1c';
}

/* '' */
.icon-tree:before {
    content: '\ea1d';
}

/* '' */
.icon-calculator:before {
    content: '\ea1e';
}

/* '' */
.icon-infinity-outline:before {
    content: '\ea1f';
}

/* '' */
.icon-infinity-1:before {
    content: '\ea20';
}

/* '' */
.icon-pi-outline:before {
    content: '\ea21';
}

/* '' */
.icon-pi:before {
    content: '\ea22';
}

/* '' */
.icon-at:before {
    content: '\ea23';
}

/* '' */
.icon-at-circled:before {
    content: '\ea24';
}

/* '' */
.icon-looped-square-outline:before {
    content: '\ea25';
}

/* '' */
.icon-looped-square-interest:before {
    content: '\ea26';
}

/* '' */
.icon-sort-alphabet-outline:before {
    content: '\ea27';
}

/* '' */
.icon-sort-alphabet:before {
    content: '\ea28';
}

/* '' */
.icon-sort-numeric-outline:before {
    content: '\ea29';
}

/* '' */
.icon-sort-numeric:before {
    content: '\ea2a';
}

/* '' */
.icon-dribbble-circled-1:before {
    content: '\ea2b';
}

/* '' */
.icon-dribbble-1:before {
    content: '\ea2c';
}

/* '' */
.icon-facebook-circled-1:before {
    content: '\ea2d';
}

/* '' */
.icon-facebook-1:before {
    content: '\ea2e';
}

/* '' */
.icon-flickr-circled-1:before {
    content: '\ea2f';
}

/* '' */
.icon-flickr-1:before {
    content: '\ea30';
}

/* '' */
.icon-github-circled-1:before {
    content: '\ea31';
}

/* '' */
.icon-github-1:before {
    content: '\ea32';
}

/* '' */
.icon-lastfm-circled-1:before {
    content: '\ea33';
}

/* '' */
.icon-lastfm-1:before {
    content: '\ea34';
}

/* '' */
.icon-linkedin-circled-1:before {
    content: '\ea35';
}

/* '' */
.icon-linkedin-1:before {
    content: '\ea36';
}

/* '' */
.icon-pinterest-circled-1:before {
    content: '\ea37';
}

/* '' */
.icon-pinterest-1:before {
    content: '\ea38';
}

/* '' */
.icon-skype-outline:before {
    content: '\ea39';
}

/* '' */
.icon-skype-1:before {
    content: '\ea3a';
}

/* '' */
.icon-tumbler-circled:before {
    content: '\ea3b';
}

/* '' */
.icon-tumbler:before {
    content: '\ea3c';
}

/* '' */
.icon-twitter-circled-1:before {
    content: '\ea3d';
}

/* '' */
.icon-twitter-1:before {
    content: '\ea3e';
}

/* '' */
.icon-vimeo-circled-1:before {
    content: '\ea3f';
}

/* '' */
.icon-vimeo-1:before {
    content: '\ea40';
}

/* '' */
.icon-search-2:before {
    content: '\ea41';
}

/* '' */
.icon-mail-2:before {
    content: '\ea42';
}

/* '' */
.icon-heart-2:before {
    content: '\ea43';
}

/* '' */
.icon-heart-empty-1:before {
    content: '\ea44';
}

/* '' */
.icon-star-2:before {
    content: '\ea45';
}

/* '' */
.icon-user-2:before {
    content: '\ea46';
}

/* '' */
.icon-video-2:before {
    content: '\ea47';
}

/* '' */
.icon-picture-2:before {
    content: '\ea48';
}

/* '' */
.icon-camera-2:before {
    content: '\ea49';
}

/* '' */
.icon-ok-1:before {
    content: '\ea4a';
}

/* '' */
.icon-ok-circle:before {
    content: '\ea4b';
}

/* '' */
.icon-cancel-2:before {
    content: '\ea4c';
}

/* '' */
.icon-cancel-circle:before {
    content: '\ea4d';
}

/* '' */
.icon-plus-2:before {
    content: '\ea4e';
}

/* '' */
.icon-plus-circle:before {
    content: '\ea4f';
}

/* '' */
.icon-minus-2:before {
    content: '\ea50';
}

/* '' */
.icon-minus-circle:before {
    content: '\ea51';
}

/* '' */
.icon-help-1:before {
    content: '\ea52';
}

/* '' */
.icon-info-2:before {
    content: '\ea53';
}

/* '' */
.icon-home-2:before {
    content: '\ea54';
}

/* '' */
.icon-link-2:before {
    content: '\ea55';
}

/* '' */
.icon-attach-2:before {
    content: '\ea56';
}

/* '' */
.icon-lock-2:before {
    content: '\ea57';
}

/* '' */
.icon-lock-empty:before {
    content: '\ea58';
}

/* '' */
.icon-lock-open-2:before {
    content: '\ea59';
}

/* '' */
.icon-lock-open-empty:before {
    content: '\ea5a';
}

/* '' */
.icon-pin-1:before {
    content: '\ea5b';
}

/* '' */
.icon-eye-2:before {
    content: '\ea5c';
}

/* '' */
.icon-tag-2:before {
    content: '\ea5d';
}

/* '' */
.icon-tag-empty:before {
    content: '\ea5e';
}

/* '' */
.icon-download-2:before {
    content: '\ea5f';
}

/* '' */
.icon-upload-2:before {
    content: '\ea60';
}

/* '' */
.icon-download-cloud:before {
    content: '\ea61';
}

/* '' */
.icon-upload-cloud-2:before {
    content: '\ea62';
}

/* '' */
.icon-quote-left:before {
    content: '\ea63';
}

/* '' */
.icon-quote-right:before {
    content: '\ea64';
}

/* '' */
.icon-quote-left-alt:before {
    content: '\ea65';
}

/* '' */
.icon-quote-right-alt:before {
    content: '\ea66';
}

/* '' */
.icon-pencil-2:before {
    content: '\ea67';
}

/* '' */
.icon-pencil-neg:before {
    content: '\ea68';
}

/* '' */
.icon-pencil-alt:before {
    content: '\ea69';
}

/* '' */
.icon-undo:before {
    content: '\ea6a';
}

/* '' */
.icon-comment-2:before {
    content: '\ea6b';
}

/* '' */
.icon-comment-inv:before {
    content: '\ea6c';
}

/* '' */
.icon-comment-alt:before {
    content: '\ea6d';
}

/* '' */
.icon-comment-inv-alt:before {
    content: '\ea6e';
}

/* '' */
.icon-comment-alt2:before {
    content: '\ea6f';
}

/* '' */
.icon-comment-inv-alt2:before {
    content: '\ea70';
}

/* '' */
.icon-chat-2:before {
    content: '\ea71';
}

/* '' */
.icon-chat-inv:before {
    content: '\ea72';
}

/* '' */
.icon-location-2:before {
    content: '\ea73';
}

/* '' */
.icon-location-inv:before {
    content: '\ea74';
}

/* '' */
.icon-location-alt:before {
    content: '\ea75';
}

/* '' */
.icon-compass-2:before {
    content: '\ea76';
}

/* '' */
.icon-trash-2:before {
    content: '\ea77';
}

/* '' */
.icon-trash-empty:before {
    content: '\ea78';
}

/* '' */
.icon-doc-2:before {
    content: '\ea79';
}

/* '' */
.icon-doc-inv:before {
    content: '\ea7a';
}

/* '' */
.icon-doc-alt:before {
    content: '\ea7b';
}

/* '' */
.icon-doc-inv-alt:before {
    content: '\ea7c';
}

/* '' */
.icon-article:before {
    content: '\ea7d';
}

/* '' */
.icon-article-alt:before {
    content: '\ea7e';
}

/* '' */
.icon-book-open-1:before {
    content: '\ea7f';
}

/* '' */
.icon-folder-2:before {
    content: '\ea80';
}

/* '' */
.icon-folder-empty:before {
    content: '\ea81';
}

/* '' */
.icon-box-2:before {
    content: '\ea82';
}

/* '' */
.icon-rss-2:before {
    content: '\ea83';
}

/* '' */
.icon-rss-alt:before {
    content: '\ea84';
}

/* '' */
.icon-cog-2:before {
    content: '\ea85';
}

/* '' */
.icon-wrench-1:before {
    content: '\ea86';
}

/* '' */
.icon-share-1:before {
    content: '\ea87';
}

/* '' */
.icon-calendar-2:before {
    content: '\ea88';
}

/* '' */
.icon-calendar-inv:before {
    content: '\ea89';
}

/* '' */
.icon-calendar-alt:before {
    content: '\ea8a';
}

/* '' */
.icon-mic-2:before {
    content: '\ea8b';
}

/* '' */
.icon-volume-off-1:before {
    content: '\ea8c';
}

/* '' */
.icon-volume-up:before {
    content: '\ea8d';
}

/* '' */
.icon-headphones-1:before {
    content: '\ea8e';
}

/* '' */
.icon-clock-2:before {
    content: '\ea8f';
}

/* '' */
.icon-lamp-1:before {
    content: '\ea90';
}

/* '' */
.icon-block-2:before {
    content: '\ea91';
}

/* '' */
.icon-resize-full-2:before {
    content: '\ea92';
}

/* '' */
.icon-resize-full-alt:before {
    content: '\ea93';
}

/* '' */
.icon-resize-small-1:before {
    content: '\ea94';
}

/* '' */
.icon-resize-small-alt:before {
    content: '\ea95';
}

/* '' */
.icon-resize-vertical:before {
    content: '\ea96';
}

/* '' */
.icon-resize-horizontal:before {
    content: '\ea97';
}

/* '' */
.icon-move-1:before {
    content: '\ea98';
}

/* '' */
.icon-popup-3:before {
    content: '\ea99';
}

/* '' */
.icon-down-2:before {
    content: '\ea9a';
}

/* '' */
.icon-left-2:before {
    content: '\ea9b';
}

/* '' */
.icon-right-2:before {
    content: '\ea9c';
}

/* '' */
.icon-up-2:before {
    content: '\ea9d';
}

/* '' */
.icon-down-circle:before {
    content: '\ea9e';
}

/* '' */
.icon-left-circle:before {
    content: '\ea9f';
}

/* '' */
.icon-right-circle:before {
    content: '\eaa0';
}

/* '' */
.icon-up-circle:before {
    content: '\eaa1';
}

/* '' */
.icon-cw-2:before {
    content: '\eaa2';
}

/* '' */
.icon-loop-2:before {
    content: '\eaa3';
}

/* '' */
.icon-loop-alt-1:before {
    content: '\eaa4';
}

/* '' */
.icon-exchange:before {
    content: '\eaa5';
}

/* '' */
.icon-split:before {
    content: '\eaa6';
}

/* '' */
.icon-arrow-curved:before {
    content: '\eaa7';
}

/* '' */
.icon-play-2:before {
    content: '\eaa8';
}

/* '' */
.icon-play-circle2:before {
    content: '\eaa9';
}

/* '' */
.icon-stop-2:before {
    content: '\eaaa';
}

/* '' */
.icon-pause-2:before {
    content: '\eaab';
}

/* '' */
.icon-to-start-1:before {
    content: '\eaac';
}

/* '' */
.icon-to-end-1:before {
    content: '\eaad';
}

/* '' */
.icon-eject-1:before {
    content: '\eaae';
}

/* '' */
.icon-target-2:before {
    content: '\eaaf';
}

/* '' */
.icon-signal-1:before {
    content: '\eab0';
}

/* '' */
.icon-award:before {
    content: '\eab1';
}

/* '' */
.icon-award-empty:before {
    content: '\eab2';
}

/* '' */
.icon-list-1:before {
    content: '\eab3';
}

/* '' */
.icon-list-nested:before {
    content: '\eab4';
}

/* '' */
.icon-bat-empty:before {
    content: '\eab5';
}

/* '' */
.icon-bat-half:before {
    content: '\eab6';
}

/* '' */
.icon-bat-full:before {
    content: '\eab7';
}

/* '' */
.icon-bat-charge-1:before {
    content: '\eab8';
}

/* '' */
.icon-mobile-2:before {
    content: '\eab9';
}

/* '' */
.icon-cd-1:before {
    content: '\eaba';
}

/* '' */
.icon-equalizer:before {
    content: '\eabb';
}

/* '' */
.icon-cursor:before {
    content: '\eabc';
}

/* '' */
.icon-aperture:before {
    content: '\eabd';
}

/* '' */
.icon-aperture-alt:before {
    content: '\eabe';
}

/* '' */
.icon-steering-wheel:before {
    content: '\eabf';
}

/* '' */
.icon-book-1:before {
    content: '\eac0';
}

/* '' */
.icon-book-alt:before {
    content: '\eac1';
}

/* '' */
.icon-brush-2:before {
    content: '\eac2';
}

/* '' */
.icon-brush-alt:before {
    content: '\eac3';
}

/* '' */
.icon-eyedropper:before {
    content: '\eac4';
}

/* '' */
.icon-layers:before {
    content: '\eac5';
}

/* '' */
.icon-layers-alt:before {
    content: '\eac6';
}

/* '' */
.icon-sun-1:before {
    content: '\eac7';
}

/* '' */
.icon-sun-inv:before {
    content: '\eac8';
}

/* '' */
.icon-cloud-2:before {
    content: '\eac9';
}

/* '' */
.icon-rain-1:before {
    content: '\eaca';
}

/* '' */
.icon-flash-2:before {
    content: '\eacb';
}

/* '' */
.icon-moon-2:before {
    content: '\eacc';
}

/* '' */
.icon-moon-inv:before {
    content: '\eacd';
}

/* '' */
.icon-umbrella:before {
    content: '\eace';
}

/* '' */
.icon-chart-bar-2:before {
    content: '\eacf';
}

/* '' */
.icon-chart-pie-2:before {
    content: '\ead0';
}

/* '' */
.icon-chart-pie-alt:before {
    content: '\ead1';
}

/* '' */
.icon-key-2:before {
    content: '\ead2';
}

/* '' */
.icon-key-inv:before {
    content: '\ead3';
}

/* '' */
.icon-hash:before {
    content: '\ead4';
}

/* '' */
.icon-at-1:before {
    content: '\ead5';
}

/* '' */
.icon-pilcrow:before {
    content: '\ead6';
}

/* '' */
.icon-dial:before {
    content: '\ead7';
}

/* '' */
.icon-github:before {
    content: '\f300';
}

/* '' */
.icon-github-circled:before {
    content: '\f301';
}

/* '' */
.icon-flickr:before {
    content: '\f303';
}

/* '' */
.icon-flickr-circled:before {
    content: '\f304';
}

/* '' */
.icon-vimeo:before {
    content: '\f306';
}

/* '' */
.icon-vimeo-circled:before {
    content: '\f307';
}

/* '' */
.icon-twitter:before {
    content: '\f309';
}

/* '' */
.icon-twitter-circled:before {
    content: '\f30a';
}

/* '' */
.icon-facebook:before {
    content: '\f30c';
}

/* '' */
.icon-facebook-circled:before {
    content: '\f30d';
}

/* '' */
.icon-facebook-squared:before {
    content: '\f30e';
}

/* '' */
.icon-gplus:before {
    content: '\f30f';
}

/* '' */
.icon-gplus-circled:before {
    content: '\f310';
}

/* '' */
.icon-pinterest:before {
    content: '\f312';
}

/* '' */
.icon-pinterest-circled:before {
    content: '\f313';
}

/* '' */
.icon-tumblr:before {
    content: '\f315';
}

/* '' */
.icon-tumblr-circled:before {
    content: '\f316';
}

/* '' */
.icon-linkedin:before {
    content: '\f318';
}

/* '' */
.icon-linkedin-circled:before {
    content: '\f319';
}

/* '' */
.icon-dribbble:before {
    content: '\f31b';
}

/* '' */
.icon-dribbble-circled:before {
    content: '\f31c';
}

/* '' */
.icon-stumbleupon:before {
    content: '\f31e';
}

/* '' */
.icon-stumbleupon-circled:before {
    content: '\f31f';
}

/* '' */
.icon-lastfm:before {
    content: '\f321';
}

/* '' */
.icon-lastfm-circled:before {
    content: '\f322';
}

/* '' */
.icon-rdio:before {
    content: '\f324';
}

/* '' */
.icon-rdio-circled:before {
    content: '\f325';
}

/* '' */
.icon-spotify:before {
    content: '\f327';
}

/* '' */
.icon-spotify-circled:before {
    content: '\f328';
}

/* '' */
.icon-qq:before {
    content: '\f32a';
}

/* '' */
.icon-instagram:before {
    content: '\f32d';
}

/* '' */
.icon-dropbox:before {
    content: '\f330';
}

/* '' */
.icon-evernote:before {
    content: '\f333';
}

/* '' */
.icon-flattr:before {
    content: '\f336';
}

/* '' */
.icon-skype:before {
    content: '\f339';
}

/* '' */
.icon-skype-circled:before {
    content: '\f33a';
}

/* '' */
.icon-renren:before {
    content: '\f33c';
}

/* '' */
.icon-sina-weibo:before {
    content: '\f33f';
}

/* '' */
.icon-paypal:before {
    content: '\f342';
}

/* '' */
.icon-picasa:before {
    content: '\f345';
}

/* '' */
.icon-soundcloud:before {
    content: '\f348';
}

/* '' */
.icon-mixi:before {
    content: '\f34b';
}

/* '' */
.icon-behance:before {
    content: '\f34e';
}

/* '' */
.icon-google-circles:before {
    content: '\f351';
}

/* '' */
.icon-vkontakte:before {
    content: '\f354';
}

/* '' */
.icon-smashing:before {
    content: '\f357';
}

/* '' */
.icon-db-shape:before {
    content: '\f600';
}

/* '' */
.icon-sweden:before {
    content: '\f601';
}

/* '' */
.icon-logo-db:before {
    content: '\f603';
}

/* '' */